@font-face {
    font-family: 'Raisonne';
    src: url('Raisonne-DemiBold.eot');
    src: url('Raisonne-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('Raisonne-DemiBold.woff2') format('woff2'),
        url('Raisonne-DemiBold.woff') format('woff'),
        url('Raisonne-DemiBold.ttf') format('truetype'),
        url('Raisonne-DemiBold.svg#Raisonne-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

